template(name='errors')
   .errors
      +each errors
         +error

template(name='error')
   .alert.alert-danger.alert-dismissible(role='alert')
      button.close(type='button', data-dismiss='alert')
         span(aria-hidden='true') &times;
         span.sr-only Close
      span #{message}
